Project: "kenningsManager"
"*":
  Templates: {
    "ctrl-alt-i°a": {
        StringToInsert: "%ST% %C%hello"
        Comment: "Make it simple and effective"
    }
    "alt-ctrl-i°b": {
        StringToInsert: "%ST% %C%there"
        Comment: "And sing it loud"
    }
  }
  LowerCaseFixedText: true
  UpperCaseSelectedText: false
  LinkifyFixedText: true
